<?xml version="1.0" encoding="UTF-8"?>
<launch>

   <arg name="node_name"                default="uwb_init_ros" />
  <!-- topic parameters -->
  <arg name="estimated_pose_cov_topic"  default="/uvio/poseimu" />
  <arg name="estimated_pose_topic"      default="" />
  <arg name="estimated_transform_topic" default="" />
  <arg name="uwb_range_topic"           default="/uwb_driver_node/uwb" />

  <arg name="uwb_twr_topics"             default="{1: /uwb_driver_node/twr}" />
  <arg name="uwb_id_black_list"         default="[]" />

  <arg name="start_service"             default="/uwb_init/start" />
  <arg name="reset_service"             default="/uwb_init/reset" />
  <arg name="initialization_service"    default="/uwb_init/initialize" />
  <arg name="planner_service"           default="/uwb_init/compute_wps" />
  <arg name="refine_service"            default="/uwb_init/refine" />
  <arg name="logger_level"              default="info" />     <!-- full, info, warning, error, inactive -->
  <arg name="uwb_anchors_topic"         default="uwb_anchors" />
  <arg name="waypoints_topic"           default="wps" />

  <!-- calibration: [x,y,z] or {<ID>: [x,y,z], ...}  -->
  <arg name="dict_p_UinI"              default="{0: [0.01, -0.01, -0.05]}" />
  <!-- stationary anchor positions: [x,y,z] or {<ID>: [x,y,z], ...}  -->
  <arg name="dict_p_AinG"              default="" />

  <!-- node parameters -->
  <arg name="method"                    default="single" />   <!-- single, double (suggestion: always use 'double')-->
  <arg name="bias_type"                 default="constant" /> <!-- unbiased, constant, all (suggestion: use 'unbiased' if optimal waypoints are not computed)-->
  <arg name="min_num_anchors"           default="1" />        <!-- minimum number of uwb anchors to initialize (if not met initialization fails)-->
  <arg name="publish_first_solution"    default="true" />     <!-- publish first solution after initialization without optimal WPs refinement -->
  <arg name="anchors_yaml_file_path"         default="$(find uwb_init_ros)/config/uwb_anchors.yaml" /> <!-- path where to save uwb_anchors.yaml -->
  <arg name="anchors_csv_file_path"         default="$(find uwb_init_ros)/config/uwb_anchors.csv" /> <!-- path where to save uwb_anchors.csv -->

  <arg name="frame_id_anchor"           default="global" />
  <arg name="frame_id_waypoint"         default="$(arg frame_id_anchor)" />
  <arg name="waypoint_nav_type"         default="local" /> <!-- see mission_sequencer msg definition, use local for vision! -->
  <arg name="publish_anchors_tf"        default="true" />
  <arg name="const_bias_proior_cov"     default="0.01" />   <!-- constant bias prior covariance, used if not estimated (unbiased)-->
  <arg name="dist_bias_proior_cov"      default="0.01" />  <!-- distance bias prior covariance, used if not estimated (unbiased or constant) -->
  <arg name="uwb_min_range"             default="0.5" />    <!-- minimum uwb range to be considered for initialization -->
  <arg name="uwb_max_range"             default="30.0" />   <!-- maximum uwb range to be considered for initialization -->
  <arg name="enable_ls"                 default="true" />  <!-- enable/disable LS computation -->
  <arg name="use_ransac"                 default="true" />  <!-- enable/disable RANSAC in LS/NLS computation -->

  <!-- RANSAC configuration -->
  <arg name="perc_outlier"             default="0.15" />    <!-- RANSAC: number of outliers in sampled data -->
  <arg name="min_samples_model"        default="10" />    <!-- RANSAC: min. samples needed to solve model (>9 has shown good results) -->
  <arg name="threshold_num_std"        default="5" />    <!-- RANSAC: number of standard deviation used for outlier rejection  -->

  <arg name="prop_success"             default="0.99" />    <!-- RANSAC: propability to draw one set without outliers -->

  <arg name="compute_covariance"        default="true" />  <!-- enable/disable covariance computation (TODO not implemented yet!!! => true) -->

  <!-- ls solver parameters -->
  <arg name="position_std"              default="0.1" />
  <arg name="uwb_range_std"             default="0.2" />
  <arg name="check_ls_cov_spd"          default="true" />  <!-- enable/disable check for Semi-Positive Definite covariance of the LS solutions -->

  <!-- nls solver parameters -->
  <arg name="levenberg_marquardt_lambda"    default="0.001" />
  <arg name="lambda_scale_factor"           default="10" />
  <arg name="step_norm_stop_condition"      default="0.000001" />
  <arg name="residual_mse_stop_condition"   default="0.000001" />
  <arg name="max_iterations"            		default="1000" />
  <arg name="check_nls_cov_spd"             default="true" />  <!-- enable/disable check for Semi-Positive Definite covariance of the NLS solutions -->

  <!-- waypoint generator parameters -->
  <arg name="cell_len"                          default="10" />
  <arg name="pop_size"                          default="10" />
  <arg name="generations_n"            		      default="3000" />
  <arg name="crossover_probability"             default="0.5" />
  <arg name="mutation_probability"              default="0.2" />
  <arg name="x_grid"                            default="2" />
  <arg name="y_grid"                            default="2" />
  <arg name="z_grid"                            default="4" />
  <arg name="side_x_length"                     default="4" />
  <arg name="side_y_length"                     default="6.5" />
  <arg name="side_z_length"                     default="6" />
  <arg name="min_z"                             default="1" />
  <arg name="C_e_x"                             default="0" />
  <arg name="C_e_y"                             default="-0.75" />

  <!-- waypoint flight parameters -->
  <arg name="wp_yaw"                            default="0.0" />
  <arg name="wp_holdtime"                       default="0.0" />

  <!-- debug -->
  <arg name="enable_gdb"                        default="false"/>
  <arg name="launch_prefix_dgb"                  default="gdbserver localhost:10000"/>
  <arg name="launch_prefix"                      default=""/>

  <!-- MASTER NODE -->
  <node name="$(arg node_name)" pkg="uwb_init_ros" type="uwb_init_ros" args="" output="screen" respawn="false" launch-prefix="$(arg launch_prefix_dgb)" if="$(arg enable_gdb)">

    <!-- topics remaps -->
    <param name="estimated_pose_cov_topic"  type="str"  value="$(arg estimated_pose_cov_topic)" />
    <param name="estimated_pose_topic"      type="str"  value="$(arg estimated_pose_topic)" />
    <param name="estimated_transform_topic" type="str"  value="$(arg estimated_transform_topic)" />
    <param name="uwb_range_topic"           type="str"  value="$(arg uwb_range_topic)" />
    <param name="uwb_twr_topics"             type="str"  value="$(arg uwb_twr_topics)" />
    <rosparam param="uwb_id_black_list"     subst_value="True">$(arg uwb_id_black_list)</rosparam>


    <param name="start_service"             type="str"  value="$(arg start_service)" />
    <param name="reset_service"             type="str"  value="$(arg reset_service)" />
    <param name="initialization_service"    type="str"  value="$(arg initialization_service)" />
    <param name="planner_service"           type="str"  value="$(arg planner_service)" />
    <param name="refine_service"            type="str"  value="$(arg refine_service)" />
    <param name="logger_level"              type="str"  value="$(arg logger_level)" />
    <param name="uwb_anchors_topic"         type="str"  value="$(arg uwb_anchors_topic)" />
    <param name="waypoints_topic"           type="str"  value="$(arg waypoints_topic)" />

    <!-- calibration -->
    <param name="dict_p_ItoU"               type="str"  value="$(arg dict_p_UinI)" />
    <!-- calibration: [x,y,z] or {<ID>: [x,y,z], ...}  -->
    <param name="dict_p_GtoA"               type="str"  value="$(arg dict_p_AinG)" />

    <!-- node parameters -->
    <param name="method"                    type="str"  value="$(arg method)" />
    <param name="bias_type"                 type="str"  value="$(arg bias_type)" />
    <param name="min_num_anchors"           type="int"  value="$(arg min_num_anchors)" />
    <param name="publish_first_solution"    type="bool" value="$(arg publish_first_solution)" />
    <param name="anchors_yaml_file_path"    type="str"  value="$(arg anchors_yaml_file_path)" />
    <param name="anchors_csv_file_path"     type="str"  value="$(arg anchors_csv_file_path)" />

    <param name="frame_id_anchor"           type="str"  value="$(arg frame_id_anchor)" />
    <param name="frame_id_waypoint"         type="str"  value="$(arg frame_id_waypoint)" />
    <param name="waypoint_nav_type"         type="str"  value="$(arg waypoint_nav_type)" />
    <param name="publish_anchors_tf"        type="bool" value="$(arg publish_anchors_tf)" />
    <param name="const_bias_proior_cov"     type="double"  value="$(arg const_bias_proior_cov)" />
    <param name="dist_bias_proior_cov"      type="double"  value="$(arg dist_bias_proior_cov)" />
    <param name="uwb_min_range"             type="double"  value="$(arg uwb_min_range)" />
    <param name="uwb_max_range"             type="double"  value="$(arg uwb_max_range)" />
    <param name="enable_ls"                 type="bool" value="$(arg enable_ls)" />
    <param name="compute_covariance"        type="bool" value="$(arg compute_covariance)" />
    <param name="use_ransac"                type="bool" value="$(arg use_ransac)" />

    <!-- RANSAC parameters -->
    <param name="perc_outlier"             type="double"  value="$(arg perc_outlier)" />
    <param name="min_samples_model"        type="int"  value="$(arg min_samples_model)" />
    <param name="prop_success"             type="double"  value="$(arg prop_success)" />
    <param name="threshold_num_std"        type="int"  value="$(arg threshold_num_std)" />



    <!-- ls solver parameters -->
    <param name="position_std"              type="double"  value="$(arg position_std)" />
    <param name="uwb_range_std"             type="double"  value="$(arg uwb_range_std)" />
    <param name="check_ls_cov_spd"          type="bool"  value="$(arg check_ls_cov_spd)" />

    <!-- nls solver parameters -->
    <param name="levenberg_marquardt_lambda"        type="double"   value="$(arg levenberg_marquardt_lambda)" />
    <param name="lambda_scale_factor"               type="double"   value="$(arg lambda_scale_factor)" />
    <param name="step_norm_stop_condition"          type="double"   value="$(arg step_norm_stop_condition)" />
    <param name="residual_mse_stop_condition"       type="double"   value="$(arg residual_mse_stop_condition)" />
    <param name="max_iterations"                    type="int"      value="$(arg max_iterations)" />
    <param name="check_nls_cov_spd"                 type="bool"     value="$(arg check_nls_cov_spd)" />

    <!-- waypoint generation parameters -->
    <param name="cell_len"                          type="int"      value="$(arg cell_len)" />
    <param name="pop_size"                          type="int"      value="$(arg pop_size)" />
    <param name="generations_n"                     type="int"      value="$(arg generations_n)" />
    <param name="crossover_probability"             type="double"   value="$(arg crossover_probability)" />
    <param name="mutation_probability"              type="double"   value="$(arg mutation_probability)" />
    <param name="x_grid"                            type="int"      value="$(arg x_grid)" />
    <param name="y_grid"                            type="int"      value="$(arg y_grid)" />
    <param name="z_grid"                            type="int"      value="$(arg z_grid)" />
    <param name="side_x_length"                     type="double"   value="$(arg side_x_length)" />
    <param name="side_y_length"                     type="double"   value="$(arg side_y_length)" />
    <param name="side_z_length"                     type="double"   value="$(arg side_z_length)" />
    <param name="min_z"                             type="double"   value="$(arg min_z)" />
    <param name="C_e_x"                             type="double"   value="$(arg C_e_x)" />
    <param name="C_e_y"                             type="double"   value="$(arg C_e_y)" />

    <!-- waypoint flight parameters -->
    <param name="wp_yaw"                             type="double"   value="$(arg wp_yaw)" />
    <param name="wp_holdtime"                        type="double"   value="$(arg wp_holdtime)" />

  </node>

  <node name="$(arg node_name)" pkg="uwb_init_ros" type="uwb_init_ros" args="" launch-prefix="$(arg launch_prefix)" output="screen" respawn="false" unless="$(arg enable_gdb)">

    <!-- topics remaps -->
    <param name="estimated_pose_cov_topic"  type="str"  value="$(arg estimated_pose_cov_topic)" />
    <param name="estimated_pose_topic"      type="str"  value="$(arg estimated_pose_topic)" />
    <param name="estimated_transform_topic" type="str"  value="$(arg estimated_transform_topic)" />
    <param name="uwb_range_topic"           type="str"  value="$(arg uwb_range_topic)" />
    <param name="uwb_twr_topics"             type="str"  value="$(arg uwb_twr_topics)" />
    <rosparam param="uwb_id_black_list"     subst_value="True">$(arg uwb_id_black_list)</rosparam>

    <param name="start_service"             type="str"  value="$(arg start_service)" />
    <param name="reset_service"             type="str"  value="$(arg reset_service)" />
    <param name="initialization_service"    type="str"  value="$(arg initialization_service)" />
    <param name="planner_service"           type="str"  value="$(arg planner_service)" />
    <param name="refine_service"            type="str"  value="$(arg refine_service)" />
    <param name="logger_level"              type="str"  value="$(arg logger_level)" />
    <param name="uwb_anchors_topic"         type="str"  value="$(arg uwb_anchors_topic)" />
    <param name="waypoints_topic"           type="str"  value="$(arg waypoints_topic)" />

    <!-- calibration: [x,y,z] or {<ID>: [x,y,z], ...}  -->
    <param name="dict_p_ItoU"               type="str"  value="$(arg dict_p_UinI)" />
    <!-- calibration: [x,y,z] or {<ID>: [x,y,z], ...}  -->
    <param name="dict_p_GtoA"               type="str"  value="$(arg dict_p_AinG)" />

    <!-- node parameters -->
    <param name="method"                    type="str"  value="$(arg method)" />
    <param name="bias_type"                 type="str"  value="$(arg bias_type)" />
    <param name="min_num_anchors"           type="int"  value="$(arg min_num_anchors)" />
    <param name="publish_first_solution"    type="bool" value="$(arg publish_first_solution)" />
    <param name="anchors_yaml_file_path"    type="str"  value="$(arg anchors_yaml_file_path)" />
    <param name="anchors_csv_file_path"     type="str"  value="$(arg anchors_csv_file_path)" />

    <param name="frame_id_anchor"           type="str"  value="$(arg frame_id_anchor)" />
    <param name="frame_id_waypoint"         type="str"  value="$(arg frame_id_waypoint)" />
    <param name="waypoint_nav_type"         type="str"  value="$(arg waypoint_nav_type)" />
    <param name="publish_anchors_tf"        type="bool" value="$(arg publish_anchors_tf)" />
    <param name="const_bias_proior_cov"     type="double"  value="$(arg const_bias_proior_cov)" />
    <param name="dist_bias_proior_cov"      type="double"  value="$(arg dist_bias_proior_cov)" />
    <param name="uwb_min_range"             type="double"  value="$(arg uwb_min_range)" />
    <param name="uwb_max_range"             type="double"  value="$(arg uwb_max_range)" />
    <param name="enable_ls"                 type="bool" value="$(arg enable_ls)" />
    <param name="compute_covariance"        type="bool" value="$(arg compute_covariance)" />
    <param name="use_ransac"                type="bool" value="$(arg use_ransac)" />

    <!-- RANSAC parameters -->
    <param name="perc_outlier"             type="double"  value="$(arg perc_outlier)" />
    <param name="min_samples_model"        type="int"  value="$(arg min_samples_model)" />
    <param name="prop_success"             type="double"  value="$(arg prop_success)" />
    <param name="threshold_num_std"        type="int"  value="$(arg threshold_num_std)" />


    <!-- ls solver parameters -->
    <param name="position_std"              type="double"  value="$(arg position_std)" />
    <param name="uwb_range_std"             type="double"  value="$(arg uwb_range_std)" />
    <param name="check_ls_cov_spd"          type="bool"  value="$(arg check_ls_cov_spd)" />

    <!-- nls solver parameters -->
    <param name="levenberg_marquardt_lambda"        type="double"   value="$(arg levenberg_marquardt_lambda)" />
    <param name="lambda_scale_factor"               type="double"   value="$(arg lambda_scale_factor)" />
    <param name="step_norm_stop_condition"          type="double"   value="$(arg step_norm_stop_condition)" />
    <param name="residual_mse_stop_condition"       type="double"   value="$(arg residual_mse_stop_condition)" />
    <param name="max_iterations"                    type="int"      value="$(arg max_iterations)" />
    <param name="check_nls_cov_spd"                 type="bool"     value="$(arg check_nls_cov_spd)" />

    <!-- waypoint generation parameters -->
    <param name="cell_len"                          type="int"      value="$(arg cell_len)" />
    <param name="pop_size"                          type="int"      value="$(arg pop_size)" />
    <param name="generations_n"                     type="int"      value="$(arg generations_n)" />
    <param name="crossover_probability"             type="double"   value="$(arg crossover_probability)" />
    <param name="mutation_probability"              type="double"   value="$(arg mutation_probability)" />
    <param name="x_grid"                            type="int"      value="$(arg x_grid)" />
    <param name="y_grid"                            type="int"      value="$(arg y_grid)" />
    <param name="z_grid"                            type="int"      value="$(arg z_grid)" />
    <param name="side_x_length"                     type="double"   value="$(arg side_x_length)" />
    <param name="side_y_length"                     type="double"   value="$(arg side_y_length)" />
    <param name="side_z_length"                     type="double"   value="$(arg side_z_length)" />
    <param name="min_z"                             type="double"   value="$(arg min_z)" />
    <param name="C_e_x"                             type="double"   value="$(arg C_e_x)" />
    <param name="C_e_y"                             type="double"   value="$(arg C_e_y)" />

    <!-- waypoint flight parameters -->
    <param name="wp_yaw"                             type="double"   value="$(arg wp_yaw)" />
    <param name="wp_holdtime"                        type="double"   value="$(arg wp_holdtime)" />

  </node>
</launch>
